@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

h1 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 5px;
    padding: 8px;
    text-align: center;
}

h3 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 5px;
}

span {
    font-style: italic;
    font-weight: bold;
}

.fechas {
    padding-left: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    min-height: 100px;
}

main {
    padding: 15px 25px;
}

footer {
    align-items: center;
    background-color: #005677;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

#batman {
    display: block;
    margin: 0 auto;
}

.iconos {
    margin: 5px;
}